[submodule "ext/core"]
	path = ext/core
	url = https://github.com/OliveCommunity/core
[submodule "ext/KDDockWidgets"]
	path = ext/KDDockWidgets
	url = https://github.com/OliveCommunity/KDDockWidgets.git
